[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=KNPanelApplet
Comment=KNPnael applet
# Priority of the plugin. 0 - disabled
[PropertyDef::X-KDE-Priority]
Type=int
